# Count or Frequency Encoding

Another way to refer to variables that have a multitude of categories , is to call them variables with ***high cardinality*** <br>

If we have categorical variables containing many multiple labels or high cardinality , then by using ***one hot encoding***
we will expand the feature sapce dramitically. <br>

One approach that is eavily used in Kaggle competitions , is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset.Or the frequency , this is the percentage of observations within that category. The 2 are equivalent.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("D:/Datasets/mercedes.csv",usecols = ['X1','X2'])

In [3]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
## Let's look how many labels are there.
for cols in df.columns:
    print(cols,":",len(df[cols].unique())," labels")

X1 : 27  labels
X2 : 44  labels

In [5]:
## Let's obtain the counts for each one of the labels in variable X2.
## Let's capture this in a dictionary that we can use to re-map the labels.

df_frequency_map = df.X2.value_counts().to_dict()
df_frequency_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [6]:
## And now let's replace each label in X2 by its count.
df.X2 = df.X2.map(df_frequency_map)

In [7]:
df

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]

In [8]:
df_frequency_map= df.X1.value_counts().to_dict()
df_frequency_map

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [9]:
df.X1 = df.X1.map(df_frequency_map)
df

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]

### Advantages

1. It is very simple to implement
2. Does not increase the feature dimensional space.

### Disadvantages

1. If some of the label have the same count, then they will be replaced with the same count and they will loose some valuabble information.

2. Adds somewhat arbitary numbers, and therefore weights to the different labels , that may not be related to their predictive power.