# Column Transformer
Suppose there are 4 columns, and in those 4 columns, in 
1. we have to apply simple imputer
2. we have apply OHE
3. we have to apply ordinal Encoding.

SO, There will be 3 different arrays, and then we combine them, it will be very hectic.

That's why we use COLUMN TRANSFORMER.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid_toy.csv",delimiter="\t")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
from sklearn.compose import ColumnTransformer
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [17]:
## remainder='passthrough' , the remaining columns in which you are not doing any operation will
## be left as it is.
## transformers are passed in tuples
## first thing, u pass name of the transformer
## secodn thing , u pass the object of the transformer
## Thirf thing , u pass the list of the columns.
transformer = ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),['fever']),
    ("tnf2",OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ("tnf3",OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x = df.drop(columns=['has_covid'])
y = df['has_covid']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [20]:
x_train = transformer.fit_transform(x_train)

In [21]:
new_df = pd.DataFrame(x_train)

In [40]:
new_df.head(10)

            0    1    2    3    4    5     6
0  102.000000  1.0  0.0  0.0  0.0  0.0  82.0
1   98.000000  0.0  0.0  0.0  0.0  1.0  65.0
2   98.000000  1.0  0.0  0.0  0.0  1.0  69.0
3  102.000000  1.0  1.0  1.0  0.0  0.0  20.0
4   98.000000  1.0  1.0  0.0  1.0  0.0  34.0
5  100.791667  0.0  0.0  0.0  0.0  0.0  84.0
6  100.791667  0.0  1.0  0.0  0.0  1.0  23.0
7  101.000000  0.0  0.0  0.0  1.0  0.0   8.0
8  104.000000  1.0  0.0  1.0  0.0  0.0  34.0
9  104.000000  1.0  0.0  0.0  0.0  0.0  56.0

In [28]:
numeric_columns = list(df.select_dtypes('number'))
categorical_columns = list(df.select_dtypes('object')) + list(df.select_dtypes('category'))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [30]:
categorical_columns

['gender', 'cough', 'city', 'has_covid']

In [42]:
x['cough'].head(10)

0      Mild
1      Mild
2      Mild
3      Mild
4      Mild
5      Mild
6    Strong
7    Strong
8    Strong
9      Mild
Name: cough, dtype: object