# Random Sample Imputation

Aim : Random Sample Imputation consists of taking random observation from the dataset and we use this observation to replace the Nan values.

**When should it be used?
IT assumes that the data are missing completely at random(MCAR)**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\Datasets\\titanic.csv',usecols=['Age','Fare','Survived'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [5]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

# Replacing the Nan values with random values.

In [28]:
# sample() : it picks random value.
# sample(df['Age'].isnull().sum(),random_state=0) : this replaces nan value with random samples.
df['Age'].dropna().sample(df['Age'].isnull().sum(),random_state=0)

423    28.00
177    50.00
305     0.92
292    36.00
889    26.00
       ...
539    22.00
267    25.00
352    15.00
99     34.00
689    15.00
Name: Age, Length: 177, dtype: float64

In [7]:
def impute_nan(df,variable,median):
    df[variable+"_median"] = df[variable].fillna(median)
    df[variable+"_random"] = df[variable]
    ## It will have the random sample to fill the nan values.
    df[variable].dropna().sample(df[variable].isnull().sum(),random_state=0)
    ## pandas need to have some index in order to merge the dataset.
    rnadom_sample.index = df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+'_random'] = random_sample

In [8]:
# df[df[variable].isnull()].index
df[df['Age'].isnull()].index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [45]:
import jupyterthemes as jt

In [48]:
jt.install_theme('chesterish')